<%# Update the editor with edit version %>
<%= turbo_stream.replace "edit-services-section" do %>
  <%= turbo_frame_tag "edit-services-section" do %>
    <div id="services-list">
       <%= render partial: "services/edit_service",
          collection: @landing_page.services, as: :service %>
    </div>
    <div class="services-edit-actions">
     <%= link_to "New",
     new_landing_page_service_path(@landing_page),
      class: "btn-new-service",
      data: {turbo_frame: "edit-services-section" } %>
    </div>
  <% end %>
<% end %>

<%# Update the canvas with canvas version %>
<%= turbo_stream.replace "services-stream-container" do %>
  <div class="lp-services-grid" id="services-stream-container">
    <%= render @landing_page.services %>
  </div>
<% end %>

