<%= form_with(model: landing_page, class: "contents") do |form| %>
  <% if landing_page.errors.any? %>
    <div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-md mt-3">
      <h2><%= pluralize(landing_page.errors.count, "error") %> prohibited this landing_page from being saved:</h2>

      <ul class="list-disc ml-6">
        <% landing_page.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="my-5">
    <%= form.label :title %>
    <%= form.text_field :title, class: ["block shadow-sm rounded-md border px-3 py-2 mt-2 w-full", {"border-gray-400 focus:outline-blue-600": landing_page.errors[:title].none?, "border-red-400 focus:outline-red-600": landing_page.errors[:title].any?}] %>
  </div>

  <div class="my-5">
    <%= form.label :copywriting %>
    <%= form.text_field :copywriting, class: ["block shadow-sm rounded-md border px-3 py-2 mt-2 w-full", {"border-gray-400 focus:outline-blue-600": landing_page.errors[:copywriting].none?, "border-red-400 focus:outline-red-600": landing_page.errors[:copywriting].any?}] %>
  </div>

  <div class="my-5">
    <%= form.label :styles %>
    <%= form.text_field :styles, class: ["block shadow-sm rounded-md border px-3 py-2 mt-2 w-full", {"border-gray-400 focus:outline-blue-600": landing_page.errors[:styles].none?, "border-red-400 focus:outline-red-600": landing_page.errors[:styles].any?}] %>
  </div>

  <div class="my-5">
    <%= form.label :services_id %>
    <%= form.text_field :services_id, class: ["block shadow-sm rounded-md border px-3 py-2 mt-2 w-full", {"border-gray-400 focus:outline-blue-600": landing_page.errors[:services_id].none?, "border-red-400 focus:outline-red-600": landing_page.errors[:services_id].any?}] %>
  </div>

  <div class="inline">
    <%= form.submit class: "w-full sm:w-auto rounded-md px-3.5 py-2.5 bg-blue-600 hover:bg-blue-500 text-white inline-block font-medium cursor-pointer" %>
  </div>
<% end %>
